.navbar {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: #fff;
  }
  
  .navbar-logo h2 {
    font-size: 24px;
    color:white ;
  }
  
  .navbar-links {
    display: flex;
    gap: 10px;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #0eb317;
  }
  
  /* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      position: relative;
    }
  
    .navbar-links {
      display: none; /* Ocultar enlaces en el Navbar */
      flex-direction: column;
      position: absolute;
      top: 100%; /* Colocar el menú debajo del Navbar */
      left: 0;
      width: 100%;
      background-color: #333;
      padding: 10px 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 10;
    }
  
    .navbar-links a {
      font-size: 16px;
      margin-bottom: 10px;
    }
  
    .navbar-toggler {
      color: #fff;
      font-size: 24px;
      cursor: pointer;
      display: block;
      padding: 10px;
      background-color: transparent;
      border: none;
    }
  
    .navbar-toggler:focus {
      outline: none;
    }
  }