.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 40px 20px;
    background-color: black;
    color: white;
}

  .services-grid h2{
    font-size: 2rem;
    line-height: 2.2rem;
    text-decoration: underline #0eb317;
}
  
  .service {
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #0eb317; /* Sombra para resaltar el borde */
    border: 2px solid #0eb317;
    transition: box-shadow 0.3s ease; /* Transición suave de la sombra */

  }

  .service:hover {
    box-shadow: 0 0 20px #0eb317, 0 0 40px #0eb317; /* Sombra más intensa al pasar el mouse */

  }
  
  .service h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
  }
  
  .service p {
    font-size: 16px;
    color: white;
  }
  